In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures

df = pd.read_csv("lending-club-data1a.csv")

In [2]:
df.head(5)

,loan_amnt,term,int_rate,credit,emp_length,home_ownership,annual_inc,dti,bad_loans
0,5650,36 months,18.85,3,4,MORTGAGE,58000.0,29.61,1
1,20000,60 months,18.25,3,1,RENT,102000.0,9.26,1
2,6000,60 months,16.82,2,2,RENT,44301.0,17.77,1
3,30000,60 months,24.50,1,8,MORTGAGE,111000.0,21.24,1
4,24000,36 months,11.49,5,4,MORTGAGE,92000.0,24.74,0

In [5]:
df['term'] = df['term'].str.split().str[0]
mapping = {"RENT": 1, "MORTGAGE":2, "OWN":3, "OTHER": 0}
df['home_ownership'] = df['home_ownership'].map(mapping)
df.head()

,loan_amnt,term,int_rate,credit,emp_length,home_ownership,annual_inc,dti,bad_loans
0,5650,36,18.85,3,4,2,58000.0,29.61,1
1,20000,60,18.25,3,1,1,102000.0,9.26,1
2,6000,60,16.82,2,2,1,44301.0,17.77,1
3,30000,60,24.50,1,8,2,111000.0,21.24,1
4,24000,36,11.49,5,4,2,92000.0,24.74,0

In [6]:
#normalize columns using sci-kitlearn minmaxscaler
scaler = MinMaxScaler()
x_df=df.drop(columns=['bad_loans'])
normalized_x = scaler.fit_transform(x_df)
df_normalized = pd.DataFrame(normalized_x, columns=x_df.columns)
df_normalized['bad_loans'] = df['bad_loans']
df_normalized.head()

,loan_amnt,term,int_rate,credit,emp_length,home_ownership,annual_inc,dti,bad_loans
0,0.149275,0.0,0.650678,0.500000,0.363636,0.666667,0.031461,0.847453,1
1,0.565217,1.0,0.621609,0.500000,0.090909,0.333333,0.056180,0.265026,1
2,0.159420,1.0,0.552326,0.333333,0.181818,0.333333,0.023765,0.508586,1
3,0.855072,1.0,0.924419,0.166667,0.727273,0.666667,0.061236,0.607899,1
4,0.681159,0.0,0.294089,0.833333,0.363636,0.666667,0.050562,0.708071,0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df, df['bad_loans'], test_size=0.2, random_state=123)

In [ ]:
def updateWeight(learningRate, weight, x, y):
    m = len(x)
    
    yHat = ""
    gradient = 1/m * np.dot((yHat-y),x)
    weight = weight - learningRate*gradient
    return weight

iteration = 1000
learningRate = 0.01

cols = ['lotsize','bedrooms', 'bathrms', 'stories', 'driveway', 'recroom', 'fullbase', 'gashw', 'airco', 'garagepl', 'prefarea']
weight = [random.uniform(0, 0.1) for _ in range(12)]
X = df_normalized[cols]
Y = df_normalized['price']

#add bias column to input X
X = np.c_[np.ones((X.shape[0], 1)), X]

#updating the weight using gradient decent with iteration = 1000 and learning Rate = 0.01
for it in range(iteration):
    weight = updateWeight(learningRate, weight, X, Y)
    costPerIteration[it] = get_cost(Y, X, weight)
    rmsePerIteration[it] = get_RMS(Y, X, weight)